html,body {
	height:100%;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container{
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
}
@media (max-width:1200px){
	.container{
		max-width: 970px;
	}
}
@media (max-width:992px){
	.container{
		max-width: 750px;
	}
}
@media (max-width:767px){
	.container{
		max-width: none;
	}
}
@media (max-width:420px){
	
}

.header {
    background-color: blueviolet;
}

.header__row {
	background-color: burlywood;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

a, a:visited {
	text-decoration:none;
}
.contacts-header__column {
    padding: 0 30px;
}

	.contacts-header__column {
		border-left: 1px solid #fff;
	}
	.contacts-header__column:first-child {
		border: 0;
	}


@media (max-width: 1192px) {
	.contacts-header__item_icon {
		padding: 0 0 0 25px;
		background-size: 15px;
	}
	.contacts-header__phone {
		font-size: 16px;
	}
	.contacts-header__column {
		padding: 0 10px;
	}
}


.header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contacts-header__item_icon {
    background: url(../img/phone.png) left no-repeat;
    padding: 0 0 0 37px;
}
.contacts-header__label {
    font-size: 12px;
    font-weight: 300;
    color: #000;
    margin: 0 0 5px 0;
}
.contacts-header__phone {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    white-space: nowrap;
}

@media (max-width: 640px) {
	.contacts-header__item_icon {
		background: 0 0;
		padding: 0;
	}
	.contacts-header__label {
		display: none;
	}
	.contacts-header__phone {
		background: url(../img/phone.png) left no-repeat;
		width: 19px;
		height: 25px;
		font-size: 0;
		display: block;
		margin: 0 10px 0 0;
	}
}