@media (min-width: 1024px) {
	/* top */
	.top {
		margin:10px 0 25px 0;
	}
	.top span {
		letter-spacing:9px;
		font-size:24px;
	}
	.top h1 {
		letter-spacing:7px;
		font-size:500%;
	}
	
}
@media (min-width: 1824px) {
	/* top */
	.top {
		margin:10px 0 25px 0;
	}
	.top span {
		letter-spacing:14px;
		font-size:28px;
	}
	.top h1 {
		letter-spacing:10px;
		font-size:800%;
	}
	
}

@media (max-width: 768px) {
	/* top */
	.top {
		margin:10px 0 25px 0;
	}
	.top span {
		letter-spacing:7px;
		font-size:18px;
	}
	.top h1 {
		letter-spacing:4px;
		font-size:300%;
	}
	
}
@media (max-width: 600px) {
	/* top */
	.top {
		margin:5px 0 17px 0;
	}
	.top span {
		letter-spacing:5px;
		font-size:16px;
	}
	.top h1 {
		letter-spacing:3px;
		font-size:240%;
	}
	
}
@media (max-width: 480px) {
	/* top */
	.top {
		margin:5px 0 15px 0;
	}
	.top span {
		letter-spacing:5px;
		font-size:16px;
	}
	.top h1 {
		letter-spacing:3px;
		font-size:220%;
	}
	
}
@media (max-width: 414px) {
	/* top */
	.top {
		margin:5px 0 15px 0;
	}
	.top span {
		letter-spacing:5px;
		font-size:16px;
	}
	.top h1 {
		letter-spacing:3px;
		font-size:200%;
	}
	
}
@media (max-width: 375px) {
	/* top */
	.top {
		margin:5px 0 15px 0;
	}
	.top span {
		letter-spacing:5px;
		font-size:16px;
	}
	.top h1 {
		letter-spacing:3px;
		font-size:190%;
	}
	
}
@media (max-width: 360px) {
	/* top */
	.top {
		margin:5px 0 15px 0;
	}
	.top span {
		letter-spacing:5px;
		font-size:14px;
	}
	.top h1 {
		letter-spacing:3px;
		font-size:180%;
	}
	
}
@media (max-width: 320px) {
	/* top */
	.top {
		margin:5px 0 15px 0;
	}
	.top span {
		letter-spacing:3px;
		font-size:14px;
	}
	.top h1 {
		letter-spacing:3px;
		font-size:150%;
	}
	
}
