.spoiler {
	margin:25px;
}
.spoiler__item {
	margin:0px 0px 20px 0px;
}
.spoiler__title {
	text-transform:uppercase;
	letter-spacing:2px;
	position:relative;
	padding:0px 0px 0px 30px;
	color:#000;
	cursor:pointer;
}
.spoiler__title:before,
.spoiler__title:after{
	content:'';
	width:10px;
	height:1px;
	background-color:#000;
	position:absolute;
	top:15px;
	transition:all 0.3 ease 0s;
}
.spoiler__title:before{
	transform:rotate(40deg);
	left:0;
}
.spoiler__title:after{ 
	transform:rotate(-40deg);
	left:8px;
}
.spoiler__title.spoiler__active:before,
.spoiler__title.spoiler__active:after {
	background-color:red;
}
.spoiler__title.spoiler__active:before{
	transform:rotate(-40deg);
}
.spoiler__title.spoiler__active:after{ 
	transform:rotate(40deg);
}
.spoiler__text {
	display:none;
	padding:10px 0px 0px 0px;
}