/* wrapper */
.wrapper {
	
}

/* top */
.top {
	text-transform:uppercase;
	text-align:center;
	margin:15px 0 25px 0;
}
.top span {
	letter-spacing: 5px;
	color:#525868;
	font-size:20px;
}
.top h1 {
	letter-spacing: 7px;
	font-size: 400%;
	font-weight: 900;
	color:#fff;
}
