.image-slider {
	padding:30px 0px 70px 0px;
}
.image-slider__wrapper {
	
}
.image-slider__slide {
	
}
.image-slider__image {
	text-align:center;
}
.image-slider__image img{
	max-width:100%;
}

.image-slider .swiper-button-next:after,
.image-slider .swiper-button-prev:after {
	color:#fff;
	font-size:40px;
}

/*bullets*/
.image-slider .swiper-pagination {
	bottom:0px;
}
.image-slider .swiper-pagination-bullet {
	width:20px;
	height:20px;
	line-height:20px;
	font-size:14px;
	background-color:#fff;
}

/*fraction*/
.image-slider .swiper-pagination-fraction {
	font-size:20px;
	color:#fff;
}

/*progressbar*/
.image-slider .swiper-pagination-progressbar-fill {
	background-color:blue;
}

/*scrollbar*/
.image-slider .swiper-scrollbar-drag {
	cursor:pointer;
	background-color:green;
}

.image-slider .swiper-slide {
	width:auto;
}